<div class="content">
  <img src="assets/images/decor.png">
  <p class="title">ALDANA y JORGE</p>
  <div class="header">
    <img src="assets/images/photo.jpg">
  </div>

  <p class="countdown">¡Faltan {{-difference}} días!</p>

  <div class="card">
    <div class="stars">
      <h2>¿Dónde nos vemos?</h2>
      <p>Te esperamos para festejar juntos en Campo La Vikkina, calle 622 144, B1893, El Pato, Pcia. de Buenos Aires.</p>
  
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13089.59793210845!2d-58.1598601!3d-34.8964231!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2d94ec3687d11%3A0xbe83f8cfcc2cec18!2sCAMPO%20LA%20VIKKINA!5e0!3m2!1ses-419!2sar!4v1695868027739!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <p>La fiesta comienza a las 12 hs, ¡no llegues tarde!</p>

      <h2 class="info">Info útil</h2>
      <ul class="list">
        <li> ❤️ <span class="question">¿Hay código de vestimenta?</span> La verdad es que no, vení como te sientas más cómodo/a.</li>
        <li> ❤️ <span class="question">¿Tengo que confirmar asistencia?</span> Sí, por favor, cuanto antes mejor, tanto por sí como por no.</li>
        <li> ❤️ <span class="question">¿Cuánto dura el evento?</span> Aproximadamente hasta las 18hs. </li>
        <li> ❤️ <span class="question">¿Hay estacionamiento si voy con auto?</span> Sí, no hay problemas para estacionar en el lugar.</li>
        <li> ❤️ <span class="question">¿Habrá opción de comida vegetariana?</span> ¡Sí! Por favor dejánoslo saber. Cuanto antes, mejor.</li>
      </ul>
    </div>
    <img src="assets/images/heart.png" alt="Image of a pink heart">
  </div>
  <p class="attribution">
    Wedding Cake icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  </p>
</div>

